CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_glinet_gl-axt1800=y
# Рекомендуемые настройки
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_LIBSODIUM_MINIMAL=y
# Мои настройки
CONFIG_LUCI_LANG_ru=y
# Рекомендуемые драйвера
CONFIG_NSS_DRV_C2C_ENABLE=y
CONFIG_NSS_DRV_DTLS_ENABLE=y
CONFIG_NSS_DRV_IPV4_REASM_ENABLE=y
CONFIG_NSS_DRV_IPV6_REASM_ENABLE=y
CONFIG_NSS_DRV_OAM_ENABLE=y
CONFIG_NSS_DRV_PORTID_ENABLE=y
CONFIG_NSS_DRV_QVPN_ENABLE=y
CONFIG_NSS_DRV_SJACK_ENABLE=y
CONFIG_NSS_DRV_TLS_ENABLE=y
CONFIG_NSS_DRV_TRUSTSEC_ENABLE=y
CONFIG_NSS_DRV_TRUSTSEC_RX_ENABLE=y
CONFIG_NSS_DRV_TSTAMP_ENABLE=y
# Рекомендуемые опции
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y
# Стандартные пакеты с моими дополнениями
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_ath11k-firmware-ipq6018=y
##CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_eip197-mini-firmware=y
CONFIG_PACKAGE_fancontrol=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_fitblk=y
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_fwtool=y
CONFIG_PACKAGE_gawk=y
CONFIG_PACKAGE_getrandom=y
CONFIG_PACKAGE_grep=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_ipq-wifi-glinet_gl-axt1800=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_jansson4=y
CONFIG_PACKAGE_jshn=y
CONFIG_PACKAGE_jsonfilter=y
CONFIG_PACKAGE_kernel=y
##CONFIG_PACKAGE_kmod-crypto-acompress=y
##CONFIG_PACKAGE_kmod-crypto-aead=y
##CONFIG_PACKAGE_kmod-crypto-authenc=y
##CONFIG_PACKAGE_kmod-crypto-crc32c=y
##CONFIG_PACKAGE_kmod-crypto-des=y
##CONFIG_PACKAGE_kmod-crypto-ghash=y
##CONFIG_PACKAGE_kmod-crypto-hash=y
##CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-hw-safexcel=y
##CONFIG_PACKAGE_kmod-crypto-manager=y
##CONFIG_PACKAGE_kmod-crypto-md5=y
##CONFIG_PACKAGE_kmod-crypto-null=y
##CONFIG_PACKAGE_kmod-crypto-sha1=y
##CONFIG_PACKAGE_kmod-crypto-sha256=y
##CONFIG_PACKAGE_kmod-crypto-sha512=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-hwmon-pwmfan=y
CONFIG_PACKAGE_kmod-leds-gpio=y
##CONFIG_PACKAGE_kmod-lib-crc-ccitt=y
##CONFIG_PACKAGE_kmod-lib-crc32c=y
##CONFIG_PACKAGE_kmod-lib-lzo=y
##CONFIG_PACKAGE_kmod-libphy=y
##CONFIG_PACKAGE_kmod-nf-log=y
##CONFIG_PACKAGE_kmod-nf-nat=y
##CONFIG_PACKAGE_kmod-nf-reject=y
##CONFIG_PACKAGE_kmod-nfnetlink=y
##CONFIG_PACKAGE_kmod-nft-fib=y
##CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-phy-aquantia=y
CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-pppoe=y
##CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
##CONFIG_PACKAGE_kmod-slhc=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_libblobmsg-json=y
CONFIG_PACKAGE_libc=y
CONFIG_PACKAGE_libgcc=y
CONFIG_PACKAGE_libgmp10=y
CONFIG_PACKAGE_libip4tc2=y
CONFIG_PACKAGE_libiwinfo-data=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libjson-c5=y
CONFIG_PACKAGE_libjson-script=y
CONFIG_PACKAGE_libmbedtls21=y
CONFIG_PACKAGE_libmnl0=y
CONFIG_PACKAGE_libnftnl11=y
CONFIG_PACKAGE_libnl-tiny1=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_libubox=y
CONFIG_PACKAGE_libubus=y
CONFIG_PACKAGE_libuci=y
CONFIG_PACKAGE_libuclient=y
CONFIG_PACKAGE_libucode=y
CONFIG_PACKAGE_libudebug=y
CONFIG_PACKAGE_libustream-mbedtls=y
CONFIG_PACKAGE_logd=y
CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-fancontrol=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-homeproxy=m
CONFIG_PACKAGE_chinadns-ng=m
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-base-ru=y
CONFIG_PACKAGE_luci-i18n-commands-ru=y
CONFIG_PACKAGE_luci-i18n-firewall-ru=y
CONFIG_PACKAGE_luci-i18n-opkg-ru=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_nftables-json=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_nss-firmware-default=y
CONFIG_PACKAGE_nss-firmware-ipq6018=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openwrt-keyring=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_procd-seccomp=y
CONFIG_PACKAGE_procd-ujail=y
CONFIG_PACKAGE_procd=y
CONFIG_PACKAGE_ubi-utils=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_ubox=y
CONFIG_PACKAGE_ubus=y
CONFIG_PACKAGE_ubusd=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_uclient-fetch=y
CONFIG_PACKAGE_ucode-mod-fs=y
CONFIG_PACKAGE_ucode-mod-nl80211=y
CONFIG_PACKAGE_ucode-mod-rtnl=y
CONFIG_PACKAGE_ucode-mod-ubus=y
CONFIG_PACKAGE_ucode-mod-uci=y
CONFIG_PACKAGE_ucode-mod-uloop=y
CONFIG_PACKAGE_ucode=y
CONFIG_PACKAGE_urandom-seed=y
CONFIG_PACKAGE_urngd=y
CONFIG_PACKAGE_usign=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y
##CONFIG_PACKAGE_youtubeUnblock=y
CONFIG_PACKAGE_zoneinfo-europe=y
##################################
CONFIG_PACKAGE_sing-box=m
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nf-tproxy=y
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nf-flow=y
##################################
#CONFIG_PACKAGE_kmod-all=m
##################################
CONFIG_PACKAGE_blkid=m
##CONFIG_PACKAGE_bsdtar=m
CONFIG_PACKAGE_cfdisk=m
CONFIG_PACKAGE_f2fsck=m
CONFIG_PACKAGE_gdisk=m
##CONFIG_PACKAGE_iperf3=m
CONFIG_PACKAGE_ip-full=m
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-fs-squashfs=m
CONFIG_PACKAGE_kmod-mdio-netlink=m
CONFIG_PACKAGE_kmod-mii=m
CONFIG_PACKAGE_kmod-phy-realtek=m
CONFIG_PACKAGE_kmod-tls=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_luaposix=m
##CONFIG_PACKAGE_mailsend=m
CONFIG_PACKAGE_mkf2fs=m
CONFIG_PACKAGE_openssl-util=m
CONFIG_PACKAGE_partx-utils=m
CONFIG_PACKAGE_tcpdump=m
##################################
CONFIG_PACKAGE_luaposix=y
CONFIG_PACKAGE_libuci-lua=y
##CONFIG_PACKAGE_luci-app-log=y
##CONFIG_PACKAGE_luci-i18n-log-ru=y
##CONFIG_PACKAGE_internet-detector=y
##CONFIG_PACKAGE_luci-app-internet-detector=y
##CONFIG_PACKAGE_luci-i18n-internet-detector-ru=y
##CONFIG_PACKAGE_luci-app-log-viewer=y
##CONFIG_PACKAGE_luci-i18n-log-viewer-ru=y
##################################
##CONFIG_PACKAGE_kyoutubeUnblock=m
##################################
CONFIG_AUTOREMOVE=y
