CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_glinet_gl-axt1800=y
# CONFIG_ATH11K_MEM_PROFILE_1G is not set
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_BIND_ENABLE_DOH=y
CONFIG_HTOP_LMSENSORS=y
# CONFIG_IPQ_MEM_PROFILE_1024 is not set
CONFIG_IPQ_MEM_PROFILE_512=y
CONFIG_KERNEL_IPQ_MEM_PROFILE=512
#
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_LIBSODIUM_MINIMAL=y
#
CONFIG_LUCI_LANG_ru=y
#
CONFIG_NSS_DRV_C2C_ENABLE=y
CONFIG_NSS_DRV_DTLS_ENABLE=y
CONFIG_NSS_DRV_GRE_REDIR_ENABLE=y
CONFIG_NSS_DRV_GRE_TUNNEL_ENABLE=y
CONFIG_NSS_DRV_IPSEC_ENABLE=y
CONFIG_NSS_DRV_IPV4_REASM_ENABLE=y
CONFIG_NSS_DRV_IPV6_REASM_ENABLE=y
CONFIG_NSS_DRV_OAM_ENABLE=y
CONFIG_NSS_DRV_PORTID_ENABLE=y
CONFIG_NSS_DRV_QRFS_ENABLE=y
CONFIG_NSS_DRV_QVPN_ENABLE=y
CONFIG_NSS_DRV_RMNET_ENABLE=y
CONFIG_NSS_DRV_SJACK_ENABLE=y
CONFIG_NSS_DRV_TLS_ENABLE=y
CONFIG_NSS_DRV_TRUSTSEC_ENABLE=y
CONFIG_NSS_DRV_TRUSTSEC_RX_ENABLE=y
CONFIG_NSS_DRV_TSTAMP_ENABLE=y
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y
#
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y
#
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_apk-openssl=y
CONFIG_PACKAGE_ath11k-firmware-ipq6018=y
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_f2fsck=y
CONFIG_PACKAGE_fancontrol=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_fitblk=y
CONFIG_PACKAGE_gawk=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_grep=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_ipq-wifi-glinet_gl-axt1800=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kernel=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-crypto-hw-safexcel=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-hwmon-pwmfan=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-mdio-netlink=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-phy-aquantia=y
CONFIG_PACKAGE_kmod-phy-realtek=y
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libblobmsg-json=y
CONFIG_PACKAGE_libbpf=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libf2fs=y
CONFIG_PACKAGE_libgmp10=y
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libip4tc2=y
CONFIG_PACKAGE_libip6tc=y
CONFIG_PACKAGE_libiptext=y
CONFIG_PACKAGE_libiptext-nft=y
CONFIG_PACKAGE_libiptext6=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libjson-script=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-legacy=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libubox=y
CONFIG_PACKAGE_libubus=y
CONFIG_PACKAGE_libuci=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libuclient=y
CONFIG_PACKAGE_libucode=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libxtables=y
CONFIG_PACKAGE_logd=y
CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_luaposix=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-fancontrol=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-base-ru=y
CONFIG_PACKAGE_luci-i18n-commands-ru=y
CONFIG_PACKAGE_luci-i18n-firewall-ru=y
CONFIG_PACKAGE_luci-i18n-package-manager-ru=y
CONFIG_PACKAGE_luci-i18n-wifischedule-ru=y
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_nss-firmware-default=y
CONFIG_PACKAGE_nss-firmware-ipq6018=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_owut=y
CONFIG_PACKAGE_partx-utils=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_uclient-fetch=y
CONFIG_PACKAGE_ucode-mod-nl80211=y
CONFIG_PACKAGE_ucode-mod-rtnl=y
CONFIG_PACKAGE_urandom-seed=y
CONFIG_PACKAGE_urngd=y
CONFIG_PACKAGE_wifischedule=y
CONFIG_PACKAGE_wpad-basic-openssl=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_zoneinfo-europe=y
##################################
CONFIG_AUTOREMOVE=y
